<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.pipnavigation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MockHomeActivity"
            android:launchMode="singleTask">

            <!-- Comment the intent-filter to see how fragments work instead of activity-based navigation -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MockDetailsActivity" />
        <activity android:name=".WatchActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:supportsPictureInPicture="true"/>

        <activity android:name=".NavigationWithFragmentsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:supportsPictureInPicture="true">

            <!-- Uncomment the intent-fitler to see how fragments work instead of activity-based navigation -->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>


    </application>
</manifest>
